<!doctype html>
<html>

<head>
  <title>TryThis Options</title>
  <meta charset="UTF-8">
  <script src="vue.dev.js"></script>
  <script src="options.js" defer></script>
  <link rel="stylesheet" href="options.css" />
</head>

<body>
  <div id="root">
    <div id="workspaceSelector">
      <select v-model="index">
        <option v-for="(workspace, index) in workspaces" :value="index">{{workspace.name}}</option>
      </select>
      <a v-on:click="addWorkspace">New Workspace...</a>
    </div>
    <label>
      <b>Name</b>
      <input type="text" v-model="selectedWorkspace.name" />
    </label>
    <label>
      <b>Webhook URL</b>
      <input type="url" placeholder="https://hooks.slack.com/services/..." v-model="selectedWorkspace.webhook_url" />
    </label>
    <label>
      <b>Bot Name</b>
      <input type="text" placeholder="TryThis Chrome Extension" v-model="selectedWorkspace.bot_name" />
    </label>
    <label>
      <b>Icon URL/Emote</b>
      <input type="text" placeholder=":flag-al:" v-model="selectedWorkspace.icon_or_emote" />
    </label>
    <label id="channels">
      <b>Channels</b>
      <ul>
        <li v-for="(channel, index) in selectedWorkspace.channels">#{{ channel }}
          <a class="right" v-on:click="deleteChannel(index)">✕</a>
        </li>
        <li v-if="addingNewChannel" id="newChannelRow">
          <input type="text" placeholder="Enter your channel name (without the #) and press enter." ref="newChannelInput" v-on:keydown.enter="addChannel()">
        </li>
      </ul>
      <a v-if="!addingNewChannel" v-on:click="addingNewChannel = true">Add Channel...</a>
    </label>
    <label v-if="workspaces.length > 1" >
        <b>Delete Workspace</b>
        <a class="red delete" v-on:click="consideringDeletingWorkspace ? deleteWorkspace() : consideringDeletingWorkspace = true">{{ consideringDeletingWorkspace ? "Are you sure? Click again to confirm." : "Delete Workspace..." }}</a>
      </label>
    <button v-on:click="saveChanges(true)">Save Changes</button><span class="green" id="saved" v-if="savedChanges">saved</span>
    <p class="gray">Changes are autosaved every 2 seconds. If you have a StackOverflow page open, you will need to refresh it for these changes to take effect.</p>
    <div id="footer">
      <a href="https://my.slack.com/services/new/incoming-webhook/" target="_blank">Create an Incoming Webhook...</a> 
      <a href="https://api.slack.com/incoming-webhooks" target="_blank">Webhook Documentation...</a>
      <p>Made with <3 by <a style="display: inline" href="https://twitter.com/nexuist" target="_blank">@Nexuist</a></3></p>
    </div>   
  </div>
</body>

</html>